<style>
    
button.md-raised.md-primary.small-button.md-button.md-default-theme{
  padding:0px 10px;
  margin:0px 4px;
  margin-top:10px;
  min-width:0px;
  font-size:10px;
  margin-bottom:10px;
}

.fixed-padding{
    margin-bottom: 80px;
}

.md-subheader:not(.md-sticky-no-effect):after {
  right:0px;
}
</style>

<div ng-controller='EOpenJobDetailCtrl'>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                 <md-button style="width:80px" id='profile-backbtn' onclick="window.history.back()" class="md-icon-button" aria-label="back">
                    <md-icon class="back-nav-button bg-white darkblue" md-svg-icon="img/icon/keyboard-backspace.svg"></md-icon>
                </md-button>
                <h3 class="text-center">Open Job Detail</h3>
                <span flex></span>
            </div>
        </md-toolbar>
    </md-content>

    <div style="width: 100%;">
        <div >
            <md-subheader style="font-size: 20px;  margin-right:0; padding-right:16px; margin-bottom:8px;">
                {{postjob.title}}<span style="float: right; ">{{postjob.deadline}}</span>
            </md-subheader>
        </div>

        <accordion>
            <accordion-group is-open="status.open">
                <accordion-heading>
                <div>
                    Company Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></div>
                </accordion-heading>
                <div id="preview-pic">
                    <div class="field-container md-whiteframe-z1" style="background-color:#5C787B">
                        <div style="padding:10px;">
                            <div class="preview-block">
                                <img border="1" id="p-img" class="preview-image pic-border" src="img/profile-pic.jpg" alt=""/>
                                <md-button class="md-raised md-primary" onclick="getImage(pictureSource.PHOTOLIBRARY);">Gallery</md-button>
                                <md-button class="md-raised md-primary" onclick="getPhoto();" >Camera</md-button>   
                            </div>
                            <div class="preview-block">
                                <img border="1" id="p-img" class="preview-image pic-border" src="img/play-btn.jpg" alt=""/>
                                <md-button class="md-raised md-primary">Preview</md-button>
                                <md-button class="md-raised md-primary">Redo</md-button>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="field-container md-whiteframe-z1" style="background-color:#ffffff;">
                        <md-input-container class="md-icon-float" style="margin-top: 0.5em" >
                           <country-select  id="company-country" ng-model="company.country" ng-disabled="disablethis"></country-select>
                        </md-input-container>
                        <md-input-container class="md-icon-float" >
                            <!-- Use floating label instead of placeholder -->
                            <label>Company's Name</label>
                            <md-icon md-svg-src="img/icon/company.svg"></md-icon>
                            <input id="company-companyname" ng-model="company.companyname" type="text" ng-disabled="disablethis">
                        </md-input-container>
                        <md-input-container class="md-icon-float" >
                            <!-- Use floating label instead of placeholder -->
                            <label>Company's Address</label>
                            <md-icon md-svg-src="img/icon/location.svg"></md-icon>
                            <input id="company-address" ng-model="company.address" type="text" ng-disabled="disablethis">
                        </md-input-container>
                        <md-input-container class="md-icon-float" >
                            <!-- Use floating label instead of placeholder -->
                            <label>Company's Contact</label>
                            <md-icon md-svg-src="img/icon/phone.svg"></md-icon>
                            <input id="company-phone" ng-model="company.phone" type="tel" ng-disabled="disablethis">
                        </md-input-container>
                        <md-input-container class="md-icon-float" >
                            <!-- Use floating label instead of placeholder -->
                            <label>Company's Email</label>
                            <md-icon md-svg-src="img/icon/email.svg"></md-icon>
                            <input id="company-email" ng-model="company.email" type="text" ng-disabled="disablethis">
                        </md-input-container>
                        <md-input-container class="md-icon-float" >
                            <!-- Use floating label instead of placeholder -->
                            <label>Company's Website</label>
                            <md-icon md-svg-src="img/icon/website.svg"></md-icon>
                            <input id="company-website" ng-model="company.website" type="text" ng-disabled="disablethis">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Company's Overview</label>
                            <textarea md-maxlength="500" ng-model="company.overview" id="company-overview" ng-disabled="disablethis"></textarea>
                        </md-input-container>
                    </div>
                </div>
                
            </accordion-group>
        </accordion>
        <div class="panel panel-default" style="margin-bottom: 56px;">
                <h4 class="bg-white" style="padding-left:15px; padding-top:10px; font-size:16px; height:38px; margin-top:0px;">Job Information</h4>
                <div class="field-container md-whiteframe-z1" style="background-color:#ffffff;"> 
                    <md-input-container flex id="post-job-dropdown-container">
                        <div class="preview-block2" style="background-color:#5C787B">
                            <img style="margin:0 auto;" border="1" id="p-img" class="preview-image pic-border" src="img/play-btn.jpg" alt=""/>
                        </div>
                        <div class="btn-group" dropdown is-open="status.isopen" >
                            <md-button id="industry-button" dropdown-toggle  ng-disabled="disabledjob">
                                {{industry}}   <span class="caret"></span>
                            </md-button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="industry-button" >
                                <li role="menuitem" ng-repeat="x in item"  ng-click="industrySelect(x.industry)">{{x.industry}}</li>
                            </ul>
                        </div>

                    </md-input-container>
                    <md-input-container class="md-icon-float" >
                        <!-- Use floating label instead of placeholder -->
                        <label>Job Title</label>
                        <md-icon md-svg-src="img/icon/job.svg"></md-icon>
                        <input id="postjob-title" ng-model="postjob.title" type="text" ng-disabled="disabledjob">
                    </md-input-container>
                    <md-input-container class="md-icon-float" >
                        <!-- Use floating label instead of placeholder -->
                        <label>Salary</label>
                        <md-icon md-svg-src="img/icon/salary.svg"></md-icon>
                        <input id="postjob-salary" ng-model="postjob.salary" type="text" ng-disabled="disabledjob">
                    </md-input-container>
                    <md-input-container class="md-icon-float" >
                        <!-- Use floating label instead of placeholder -->
                        <label>Job Deadline</label>
                        <md-icon md-svg-src="img/icon/date.svg"></md-icon>
                        <input id="postjob-deadline" ng-model="deadline" type="date" ng-disabled="disabledjob">
                    </md-input-container>
                    <md-input-container class="md-icon-float" >
                        <!-- Use floating label instead of placeholder -->
                        <label>Experience Needed (min. Year)</label>
                        <md-icon md-svg-src="img/icon/experience.svg"></md-icon>
                        <input id="postjob-exp" ng-model="postjob.experience" type="tel" ng-disabled="disabledjob">
                    </md-input-container>
                    <md-input-container class="md-icon-float" >
                        <!-- Use floating label instead of placeholder -->
                        <label>Educational Requirement (eg, min. 'O' Level, Degree)</label>
                        <md-icon md-svg-src="img/icon/education.svg"></md-icon>
                        <input id="postjob-educational" ng-model="postjob.educational" type="text" ng-disabled="disabledjob">
                    </md-input-container>

                    <md-input-container class="md-icon-float">
                        <label>Job Requirement</label>
                        <md-icon md-svg-src="img/icon/jobd.svg"></md-icon>
                        <textarea md-maxlength="500" ng-model="postjob.requirement" id="postjob-requirement" ng-disabled="disabledjob" style="margin-left: 35px; padding-top: 12px; height: 66px;"></textarea>

                    </md-input-container>
                    <md-input-container class="md-icon-float">
                        <label>Good To Have</label>
                        <md-icon md-svg-src="img/icon/good.svg"></md-icon>
                        <textarea md-maxlength="500" ng-model="postjob.goodtohave" id="postjob-goodtohave" ng-disabled="disabledjob" style="margin-left: 35px; padding-top: 12px; height: 66px;"></textarea>

                    </md-input-container>
                </div>

        </div>
        <div style="text-align: center; position: fixed; bottom: 0; width: 100%; margin-top: 0.1em; background: rgba(255,255,255,1); z-index:100;">
            <md-divider></md-divider>
            <md-button class='md-raised md-primary small-button' ng-click="view()"><span>{{postjob.viewcount}}</span> View</md-button>
            <md-button class='md-raised md-primary small-button' ng-click="application()"><span>{{postjob.application}}</span> Application</md-button>
            <md-button class='md-raised md-primary small-button' ng-click="shortlisted()"><span>{{postjob.shortlisted}}</span> ShortListed</md-button>
        </div>
    </div>
</div>
