<div ng-controller="EProfileCtrl">
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button style="width:100px" id='profile-backbtn' onclick="window.history.back()" class="md-icon-button" aria-label="back">
                    <md-icon class="back-nav-button bg-white darkblue" md-svg-icon="img/icon/keyboard-backspace.svg"></md-icon>
                </md-button>
                <h3 style="margin-left:-15px;">Profile</h3>
                <span flex></span>

            </div>
        </md-toolbar>
    </md-content>

    <div style="width: 100%; ">
        <accordion>
            <accordion-group is-open="!status.open">
                <accordion-heading>
                    <div>Company Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></div>
                </accordion-heading>

                 <div id="preview-pic" class="pic-box" >
                    <div class="field-container md-whiteframe-z1" style="padding:20px 0;" style="background-color:#5C787B">
                        <div class="j-preview-block" style="border-right: 1px solid #ddd; padding-right: 10px; width: 118px;" >
                            <img border="1" id="p-img" class="preview-image pic-border" src="img/profile-pic.jpg" alt=""/>
                            <md-button class="md-raised md-primary" onclick="getPhoto();" >Camera</md-button>
                            <md-button class="md-raised md-primary" onclick="getImage(pictureSource.PHOTOLIBRARY);">Gallery</md-button>
                        </div>
                        <div class="j-preview-block">
                            <img border="1" id="p-img" class="preview-image pic-border" src="img/play-btn.jpg" alt=""/>
                            <md-button class="md-raised md-primary">Redo</md-button>
                            <md-button class="md-raised md-primary">Preview</md-button>
                        </div>
                    </div>
                </div>


                <div class="field-container md-whiteframe-z1" style="background-color:#FFFFFF;">
                <md-input-container flex id="post-job-dropdown-container">
                    <div class="btn-group" dropdown is-open="status.isopen" >
                        <md-icon md-svg-src="img/icon/category_settings.svg"></md-icon>
                        <md-button id="industry-button" dropdown-toggle  >
                            {{industry}}   <span class="caret"></span>
                        </md-button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="industry-button" style="padding-left:5px;">
                            <li role="menuitem" ng-repeat="x in item"  ng-click="industrySelect(x.industry)">{{x.industry}}</li>
                        </ul>
                    </div>

                </md-input-container>    
                   

                <!-- <md-input-container class="md-icon-float" style="margin-top: 0.5em" >
                   <country-select  id="company-country" ng-model="company.country" ng-change="test()"></country-select>
                </md-input-container> -->
                <md-input-container class="md-icon-float" >
                    <!-- Use floating label instead of placeholder -->
                    <label>Company Name</label>
                    <md-icon md-svg-src="img/icon/company.svg"></md-icon>
                    <input id="company-companyname" ng-model="company.companyname" type="text" required>
                </md-input-container>
                <md-input-container class="md-icon-float" >
                    <!-- Use floating label instead of placeholder -->
                    <label>Company's Address</label>
                    <md-icon md-svg-src="img/icon/location.svg"></md-icon>
                    <input id="company-address" ng-model="company.address" type="text">
                </md-input-container>
                <md-input-container >
                    <div>
                      <span style="margin-left: 36px;color: rgba(0, 0, 0, 0.54);font-size: 12px;font-family: Lato, sans-serif;">Country</span>  
                    </div>
                    <md-icon md-svg-src="img/icon/globe.svg" style="margin-top:15px;"></md-icon>
                    <div style="margin-left:36px;">
                        <country-select  id="company-country" ng-model="company.country" ng-change="test()" style="width: 200px;"></country-select>
                        
                    </div>
                </md-input-container> 
                <md-input-container class="md-icon-float" >
                    <!-- Use floating label instead of placeholder -->
                    <label>Country Code</label>
                    <md-icon md-svg-src="img/icon/globe.svg"></md-icon>
                    <input id="company-phonecountry" ng-model="company.phonecountry" type="text" disabled="disabled">
                </md-input-container>
                <md-input-container class="md-icon-float" >
                    <!-- Use floating label instead of placeholder -->
                    <label>Company's Contact</label>
                    <md-icon md-svg-src="img/icon/phone.svg"></md-icon>
                    <input id="company-phone" ng-model="company.phone" type="tel">
                </md-input-container>
                <md-input-container class="md-icon-float" >
                    <!-- Use floating label instead of placeholder -->
                    <label>Company's Email</label>
                    <md-icon md-svg-src="img/icon/email.svg"></md-icon>
                    <input id="company-email" ng-model="company.email" type="email" required>
                </md-input-container>
                <md-input-container class="md-icon-float" >
                    <!-- Use floating label instead of placeholder -->
                    <label>Company's Website</label>
                    <md-icon md-svg-src="img/icon/website.svg"></md-icon>
                    <input id="company-website" ng-model="company.website" type="text">
                </md-input-container>
                <md-input-container flex>
                    <label>Company Overview</label>
                    <textarea md-maxlength="1500" ng-model="company.overview" id="company-overview" ></textarea>
                </md-input-container>
                </div>
                
                </div>
            </accordion-group>
        </accordion>
        <div class="footer-button-group">
            <md-button class="md-fab md-primary footer-button" ng-click="go()" ng-disabled="company.email.$invalid">GO</md-button>
        </div>
    </div>


</div>