<div  ng-controller="JSImpressedCtrl">
    <div>
        <md-content>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button style="width:80px" id='profile-backbtn' onclick="window.history.back()" class="md-icon-button" aria-label="back">
                        <md-icon class="back-nav-button bg-white darkblue" md-svg-icon="img/icon/keyboard-backspace.svg"></md-icon>
                    </md-button>
                    <h3 class="text-center">Impressed Jobs</h3>
                    <span flex></span>
                </div>
            </md-toolbar>
        </md-content>
        <div style="width: 100%;" >
            <md-divider></md-divider>
            <!-- <md-subheader style="font-size: 20px; margin-right:0; padding-right:16px;">Open Jobs<span style="float: right; ">Deadline</span>
            </md-subheader> -->
            <md-divider></md-divider>
            <md-list style="background-color:#5C787B;" ng-show="Impressedjob">
                <md-list-item class="md-2-line" ng-repeat="x in Impressedjob" ng-click="goToSelectedJob($index)">
                    <div class="md-list-item-text" style="margin-top:-10px;">
                        <span style='font-size: 14px;color:#FFFFFF;'>{{x.jobid}}.</span>
                        <span style='font-weight: bold;color:#FFFFFF;'>{{x.title}}</span>
                        <span style="float:right; font-size:13px;color:#D6082B">{{x.deadline | date:'dd/MM/yyyy'}}</span>
                        <div class="open-job-button-group" style="margin:10px 0 0 -5px;">
                            <!-- <md-button class='md-raised md-primary small-button' ng-click='view($index, $event)'><span class="badge bg-info m-l-xs">{{x.viewcount}}</span>  Views</md-button>
                            <md-button class='md-raised md-primary small-button' ng-click='application($index, $event)'><span class="badge m-l-xs">{{x.applicationcount}}</span>  Application </md-button>
                            <md-button class='md-raised md-primary small-button' ng-click='shortlisted($index, $event)'><span class="badge m-l-xs">{{x.shortlistedcount}}</span>  Shortlisted </md-button> -->
                        </div>
                    </div>
                    <span></span>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
            <div ng-show="!Impressedjob">
                <md-content>
                    <div class="md-whiteframe-z1 field-container" style="background-color:#ffffff">
                        <div class="catch-phrase">No result found!</div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>